<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Разрешения -->
    <!-- Разрешение для WorkManager для перезапуска задач после перезагрузки -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Разрешение на показ уведомлений (необходимо для Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Нужен для полноэкранного входящего звонка -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <!-- Разрешение на вибрацию для уведомлений (если используется) -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- Интернет нужен для синхронизации -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Микрофон нужен для голосовых и звонков -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Камера нужна для видеозвонков и видеосообщений -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Улучшает управление аудиотрактом во время звонков -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- Контакты нужны для поиска родственников по телефонной книге -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Доступ к состоянию сети нужен WorkManager для ограничений по сети -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Разрешение WAKE_LOCK может помочь для надежности фоновых задач -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="Родня"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="rodnya.notification.icon"
            android:resource="@drawable/ic_stat_notification" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Добавляем Intent Filter для Deep Link биллинга -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="rodnyabilling"/>
            </intent-filter>

        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
