LIVEKIT_IMAGE_TAG=v1.11.0
LIVEKIT_API_KEY=replace-with-prod-key
LIVEKIT_API_SECRET=replace-with-prod-secret
LIVEKIT_NODE_IP=212.69.84.167
LIVEKIT_NETWORK_INTERFACE=ens1
LIVEKIT_TURN_DOMAIN=turn.rodnya-tree.ru
LIVEKIT_TURN_TLS_PORT=5349
LIVEKIT_TURN_CERT_FILE=/var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/turn.rodnya-tree.ru/turn.rodnya-tree.ru.crt
LIVEKIT_TURN_KEY_FILE=/var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/turn.rodnya-tree.ru/turn.rodnya-tree.ru.key
